.aboutMeSection{  
    margin-top:50px;
    text-align: center;
    .aboutMe_title{
        text-decoration: underline;
        font-family: $font-welcome;
        color: $color-orange;
        font-weight: 800;
        font-size: 30px;
    }
    .aboutMe{
        font-family: $font-menu;
        font-size: 18px;
        line-height: 2;
        text-align: left;
        padding: 20px;
        margin-top:30px; 
        .aboutMe_img{
            width: 200px;
            height: 300px;
            border-radius: 50px;
            border: 1px solid grey;
            position: relative;
            left:20%;
            @include tablet{
                left: 0px;
                width: 230px;
                height: 325px;
            }
            @include laptop{
                width: 225px;
                height: 400px;
            }
        }
        .aboutMe_description-phrase{
            font-weight: 600;
            color:$color-blue;
        }    
        .aboutMe_description-download{
            color: $color-orange;
        }   
        @include tablet{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
            .aboutMe_description{
                max-width: 50vw;       
            }
        }
    }
}