.welcome{
    background-image: url('../images/IMG_20200122_223042.jpg');
    background-size: cover;
    background-position: 25%;
    height: 93vh;    
    font-family:$font-welcome;
    display:flex;
    flex-direction: column;
    justify-content: center;
        .welcome_title{
        padding-left:10px;
        height: 50px;
        color: orange;    
        font-size: 100px;
        position: relative;
        animation-name: hello;
        animation-duration: 2.2s;
        animation-fill-mode: forwards;
        }
        .welcome_presentation{
            padding:20px;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            height:250px;
            animation-name: appear;
            animation-duration: 5s;            
            animation-fill-mode: forwards;         
            .welcome_name{
                display:block;    
                color:	$color-blue;
                font-weight: 700;
                font-size:25px;
            }
            .welcome_text{
                max-width: 84vw;
                background-color: orange;
                color:$color-black;
                font-size: 18px;
                padding:10px;
                @include laptop{
                    max-width: 50%;
                    padding:20px;
                }  
            } 
        }
        .down{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top:105px;
            color: $color-blue;
            @include tablet{
                top: 250px;
            }
            @include laptop{
                top:105px;
            }          
        }      
}


@keyframes hello {
    from{top: -350px;}
    to{ top: 0px;}
}
@keyframes appear{
    from {opacity:0;}
    to {opacity:1;}
}
